In [1]:
import sqlite3
# establish the bridge
conn = sqlite3.connect('practice.db')
#2. Get the waiter/curior'(the cursor)
cursor = conn.cursor()
#3.Use the cursor to create a table 
#with sqlite3.connect('practice.db') as conn:
#    cursor = conn.cursor()

#( we use if not exists so it doesnot error you eun it twice)
cursor.execute(''' CREATE TABLE IF NOT EXISTS employees( name TEXT,
age INTEGER,
salary REAL)''')

#4. uSE CURSOR TO INSERT data
#data scientists of ten use list op tuples like this 
staff = [('Alice', 25, 1500)]
#5. commit the changes to the database
conn.commit()

In [2]:
import sqlite3

# 1. Establish the 'Bridge'
conn = sqlite3.connect('practice.db')

# 2. Get the 'Waiter/Courier' (The Cursor)
cursor = conn.cursor()

# 3. Use the cursor to CREATE a table
# (We use IF NOT EXISTS so it doesn't error if you run it twice)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees (
        name TEXT,
        age INTEGER,
        salary REAL
    )
''')

# 4. Use the cursor to INSERT data
# Data Scientists often use lists of tuples like this:
staff = [('Alice', 25, 1500), ('Bob', 30, 2200), ('Charlie', 40, 3500)]
cursor.executemany('INSERT INTO employees VALUES (?,?,?)', staff)

# 5. COMMIT the changes to the database file
conn.commit()

# 6. Use the cursor to FETCH data back
print("--- Employee List ---")
cursor.execute("SELECT * FROM employees")

# We loop through the cursor object directly
for row in cursor:
    print(f"Name: {row[0]}, Age: {row[1]}, Salary: ${row[2]}")

# 7. Close the bridge
conn.close()

--- Employee List ---
Name: Alice, Age: 25, Salary: $1500.0
Name: Bob, Age: 30, Salary: $2200.0
Name: Charlie, Age: 40, Salary: $3500.0
Name: Alice, Age: 25, Salary: $1500.0
Name: Bob, Age: 30, Salary: $2200.0
Name: Charlie, Age: 40, Salary: $3500.0

In [3]:
#----step1: insert data--
with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()
    cursor.execute('CREATE TABLE IF NOT EXISTS books(title TEXT, author TEXT, year INTEGER)')

    # ADDING BOOK
    cursor.execute('INSERT INTO books VALUES("DATA SCIENCE 101","DR. SMITH",2025)')

    #CRIRICAL : IF WE DONT DO THIS NEXT TIME WE WILL NOT SEE THIS BOOK
    conn.commit()
    print("record Saved successfully")

    #----step 2: Verify (in a separate block or even a separate file )

print(" \nVerifying data in the Database...")
conn = sqlite3.connect('library.db')
cursor = conn.cursor()

# we ask the waiter to find everything in the books table
cursor.execute("SELECT * FROM books")
#fetchhall() grabs everything the cursor found and puts it in alist 
results = cursor.fetchall()
if not results:
    print("table is empty ")
else:
    for book in results:
        print(f"Found book: {book[0]} by {book[1]}({book[2]})")
conn.close()

record Saved successfully

Verifying data in the Database...
Found book: DATA SCIENCE 101 by DR. SMITH(2025)
Found book: DATA SCIENCE 101 by DR. SMITH(2025)
Found book: DATA SCIENCE 101 by DR. SMITH(2025)

In [4]:
with sqlite3.connect('librarry.db') as conn:
    cursor = conn.cursor()
    cursor.execute('CREATE TABLE IF NOT EXISTS books(title )')

In [ ]:
with sqlite3.connect('HospitalDatabase.db') as conn:
    # Create and use database
    hospital = HospitalDatabase()

# Add patient
hospital.add_patient('John', 'Doe', '1985-05-15', 'Male', 'O+', 
                    '555-1234', 'john@email.com', '123 Main St', '555-9999')

# Schedule appointment
hospital.schedule_appointment(patient_id=1, doctor_id=1, 
                             date='2024-12-25', time='10:00 AM', 
                             reason='Annual checkup')

# Search patients
results = hospital.search_patients('John')

# Get statistics
stats = hospital.get_statistics()

NameError: name 'HospitalDatabase' is not defined