## intermediate
### 2.1 Filtering and sorting

In [2]:
import sqlite3
conn = sqlite3.connect('library.db')
cursor = conn.cursor()

#WHERE with multiple conditions
cursor.execute(''' SELECT * FROM patients WHERE gender = ? AND date_of_birth > ? ''',('Female','1985-01-01'))

#OR CONDITION 
cursor.execute('''SELECT * FROM patients WHERE gender = ? OR date_of_birth < ? ''',('Male','1980-01-01'))

#LIKE pattern matching 
cursor.execute("SELECT * FROM patients WHERE last_name LIKE 'S%'") #STARTS WITH S
cursor.execute(" SELECT * FROM patients WHERE email LIKE '@gmail.com'") # gmail user

#In operator
cursor.execute('''SELECT * FROM patients
               WHERE gender IN ('Male','Female')''')

#Between 
cursor.execute('''SELECT *FROM patients
               WHERE date_of_birth BETWEEN ? AND ? ''',('1980-01-01','1990-12-31'))

#ORDER BY
cursor.execute('SELECT * FROM patients ORDER BY last_name ASC') # ASCENDING
cursor.execute('SELECT * FROM patients ORDER BY date_of_birth DESC') #Descending

#LIMIT
cursor.execute('SELECT * FROM patients LIMIT 10') #FIRST 10
cursor.execute('SELECT * FROM patients LIMIT 10 OFFSET 20') #skip 20 get 10
conn.close()

### Aggregate function

In [ ]:
import pandas as pd 
conn= sqlite3.connect('sakila.db')
cursor = conn.cursor()

tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';",conn)
print(tables)

#2. print the content of actor table 
df = pd.read_sql_query("SELECT * FROM actor", conn)
print("----actor Table content-------")
print(df)
cursor.execute('SELECT * FROM actor LIMIT 10') #FIRST 10
print(f" first 10 {cursor.rowcount}")

top_10_actor = pd.read_sql_query()

             name
0           actor
1         country
2            city
3         address
4        language
5        category
6        customer
7            film
8      film_actor
9   film_category
10      film_text
11      inventory
12          staff
13          store
14        payment
15         rental
----actor Table content-------
     actor_id first_name     last_name          last_update
0           1   PENELOPE       GUINESS  2021-03-06 15:51:59
1           2       NICK      WAHLBERG  2021-03-06 15:51:59
2           3         ED         CHASE  2021-03-06 15:51:59
3           4   JENNIFER         DAVIS  2021-03-06 15:51:59
4           5     JOHNNY  LOLLOBRIGIDA  2021-03-06 15:51:59
..        ...        ...           ...                  ...
195       196       BELA        WALKEN  2021-03-06 15:52:00
196       197      REESE          WEST  2021-03-06 15:52:00
197       198       MARY        KEITEL  2021-03-06 15:52:00
198       199      JULIA       FAWCETT  2021-03-06 15:52:00
199       200      THORA        TEMPLE  2021-03-06 15:52:00

[200 rows x 4 columns]
 first 10 -1

In [ ]:
# count
cursor.execute('SELECT COUNT(*) FROM actor')
total = cursor.fetchone()[0]
print(total)

# count with condition

cursor.execute('SELECT COUNT(rental_id) AS total_rentals FROM rental;')
print(cursor.rowcount)
conn.commit()
conn.close()

200
-1

### adding new table

In [11]:
conn = sqlite3.connect('Sakila.db')
cursor = conn.cursor()
cursor.execute(''' CREATE TABLE film_reviwes(
               review_id INT PRIMARY KEY AUTOINCREMENT,
               film_id INTEGER NOT NULL,
               customer_id INTEGER NOT NULL,
               review_text TEXT,
               rating INTEGER CHECK (rating BETWEEEN 1 AND 5),
               review_date DATETIME DEFAULT CURRENT_TIMESTAMP,
               ----linking to existing SAKILA TABLES
               FOREIGN KEY (film_id) REFERENCES film(film_id),
               FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
               )''')
conn.commit()
conn.close()

OperationalError: AUTOINCREMENT is only allowed on an INTEGER PRIMARY KEY

In [ ]:
import sqlite3
try:
    conn = sqlite3.connect('Sakila.db')
    cursor = conn.cursor()

     # 1. Changed INT to INTEGER
    # 2. Fixed spelling of BETWEEN
    cursor.execute(''' CREATE TABLE film_reviews(
               review_id INTEGER PRIMARY KEY AUTOINCREMENT,
               film_id INTEGER NOT NULL,
               customer_id INTEGER NOT NULL,
               review_text TEXT,
               rating INTEGER CHECK (rating BETWEEN 1 AND 5),
               review_date DATETIME DEFAULT CURRENT_TIMESTAMP,
               FOREIGN KEY (film_id) REFERENCES film(film_id),
               FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
               )''')
except sqlite3.error
conn.commit()
conn.close()
print("Table created successfully!")

OperationalError: database is locked